<template>
  <v-footer
    dark
    padless
  >
    <v-card
      flat
      tile
      class="blue-grey darken-4  white--text text-center pa-2 "
      width="100%"
    >   
        <v-btn
            v-for="icon in icons"
            :key="icon"
            class="mx-4 white--text"
            icon
        >
            <v-icon size="24px">
            {{ icon }}
            </v-icon>
        </v-btn>
    </v-card>
  </v-footer>
</template>


<script>
  export default {
    data: () => ({
      icons: [
        'mdi-facebook',
        'mdi-github',
        'mdi-linkedin',
        'mdi-instagram',
      ],
    }),
  }
</script>

<style>

</style>