<template>
  <v-row align="center" >
    <v-col cols="3" class="mx-6 mb-12 hidden-md-and-down" elevation="24"  style="padding-left: 50px">
      
      <v-card-text style="padding-left: 50px">
        <div class="font-weight-bold ml-8 mb-2">Timeline</div>

        <v-timeline align-top dense>
          <v-timeline-item
            v-for="message in messages"
            :key="message.time"
            :color="message.color"
            small
          >
            <div>
              <div class="font-weight-normal">
                <strong>{{ message.date }}</strong>
              </div>
              <div>{{ message.description }}</div>
            </div>
          </v-timeline-item>
        </v-timeline>
      </v-card-text>
    </v-col>
    <v-col>
      
      <v-card elevation="24" width="720px" height="500" class="mx-auto pl-0" color="blue-grey darken-4" >
        <v-card-title  style="color:white">Profile</v-card-title>
        <v-img aspect-ratio="1.4" src='../assets/pictures/barca.jpg'/>
          
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      colors: [
        "green",
        "secondary",
        "yellow darken-4",
        "red lighten-2",
        "orange darken-1",
      ],
      cycle: false,
      items: [ "../assets/pictures/barca.jpg", "src: '../assets/pictures/lleidaFacens.jpg", "../assets/pictures/catalunya.jpg", "../assets/pictures/udl.jpg"],
      messages: [
        {
          day: "Birth:",
          date: "10/01/2000",
          description: "Was born in Sorocaba",
          color: "deep-purple lighten-1",
        },
        {
          date: "2017",
          description: "finished high school",
          color: "green",
        },
        {
          day: "Facens",
          date: "06/2019",
          description: "Won the Babson Student Challeng Competition Stage Brazil",
          color: "indigo",
        },
        {
          day: "Lleida:",
          date: "2020",
          description: "Exchange in Lleida-Catalunya",
          color: "blue",
        },
        {
          day: "Intern:",
          date: "10/2020",
          description: "Internship at Varroc Lighting Systems",
          color: "deep-purple lighten-1",
        },
        {
          day: "FACENS",
          date: "04/2021",
          description: "Third place at Real Life AUC Egypt Competition",
          color: "green",
        },
        {
          day: "Birth:",
          date: "06/2021",
          description: "Startup Competition Champion Pomodoro University Indonesia",
          color: "indigo",
        },
        {
          day: "Birth:",
          date: "09/2021",
          description: "Internship in LG LAB ",
          color: "blue",
        }
      ],
    };
  },
};
</script>

<style>
</style>
