<template>
<div>
      <v-navigation-drawer
        permanent
        absolute
        color="blue-grey darken-4" 
        text
        z-index="2"
        width="70"
      >
        <v-list>
          <v-list-item class="px-2" color="blue-grey darken-4" >
            <v-list-item-avatar>
              <v-img src="../assets/pictures/profile.jpg"></v-img>
            </v-list-item-avatar>
          </v-list-item>


        </v-list>

        <v-divider></v-divider>

        <v-list
          nav
          dense
        >
          <v-list-item link >
            <v-list-item-icon >
              <v-icon style="color:white">mdi-folder</v-icon>
            </v-list-item-icon>
            
          </v-list-item>
          <v-list-item link>
            <v-list-item-icon style="color:white">
              <v-icon style="color:white">mdi-account-multiple</v-icon>
            </v-list-item-icon>
            
          </v-list-item>
          <v-list-item link>
            <v-list-item-icon>
              <v-icon style="color:white">mdi-star</v-icon>
            </v-list-item-icon>
            
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
</div>
</template>

<script>



  export default {
    data: () => ({
       
    }),
  }
</script>
