<template>
  <div>
    <v-toolbar color="blue-grey darken-4">
    <v-spacer/>
    <v-toolbar-title center style="color:white">Web Media</v-toolbar-title>

    <v-icon class="pa-4" color="blue">mdi-language-html5</v-icon>

    <v-spacer></v-spacer>

    <v-btn icon color="white" @click="!openSearch">
        <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn icon color="white">
        <v-icon>mdi-heart</v-icon>
    </v-btn>

    <v-btn icon color="white">
        <v-icon>mdi-dots-vertical</v-icon>
    </v-btn>
    </v-toolbar>
    
  </div>
</template>

<script>
  export default {
    
    data() {
        return {
            
        }
    },
    props: {
        openSearch: {
            type: Boolean,
        }
    },

  }
</script>

<style>

</style>