<template>
  <v-app style="background-color:blue-grey darken-4">
     <Toolbar></Toolbar>
     <Menu/>
    <v-main>
      <Home/>
    </v-main>
    <Footer/>
  </v-app>
</template>

<script>
import Home from './components/Home';
import Toolbar from './components/Toolbar.vue'
import Footer from './components/Footer.vue'
import Menu from './components/Menu.vue'

export default {
  name: 'App',

  components: {
    Home,
    Toolbar,
    Footer,
    Menu
  },

  data: () => ({
    //
  }),
};
</script>
